<br>
<br>
<div class="d-flex align-items-center justify-content-center h-100">
<div class="card" style="width: 30rem;">
  <img src="assets/student.jpg" class="card-img-top" alt="student">
  <div class="card-body">
    <h5 class="card-title">Ligula tristique quis risus</h5>
    <p class="card-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor sunt ducimus natus tempore qui quos molestias aliquam ipsa? Libero facilis commodi, veritatis assumenda sed nisi quasi eveniet?
    </p>
    <div class="d-flex justify-content-between">
      <div><i class="bi bi-calendar3">14 Apr 2021</i></div>
      <div><i class="bi bi-file-earmark-code">Coding</i> </div>  

    </div>
    
  </div>

</div>
</div>